
# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

User={{ tomcat_user }}
Group={{ tomcat_group }}

Environment=JAVA_HOME=/usr/lib/jvm/default-java
Environment=CATALINA_PID={{ tomcat_path }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ tomcat_path }}
Environment=CATALINE_BASE={{ tomcat_path }}
Environment='CATALINE_OPTS=-Xms128M -Xmx765M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.haedless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ tomcat_path }}/bin/startup.sh
ExecStop={{ tomcat_path }}/bin/shutdown.sh

[Install]
WantedBy=multi-user.target